/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */


@font-face {
  font-family: Zahid;
  src: url(./Assets/font/Disket-Mono-Regular.ttf);
}
*{
  
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Zahid';
}

body{
  background-color: #19181b;

}
