.top__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
  background-color: #19181b;
  @media screen and (max-width:700px){
    padding: 1rem 2rem;

}
  .logo{
    .mainlog{
      height: 70px;
      @media screen and (max-width:500px){
        height: 50px;

    
    }
    }
  }

  
  .social__icons {
    display: flex;
    align-items: center;

    .mainlog {
      height: 23px;
      margin: 0 0.6rem;
    }

    .sea {
      color: white;
      background-color: #b12525;

      padding: 9px 20px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      box-shadow: 0 0 16px 0 #b12525;

      margin-left: 1.5rem;
        font-family: 'Roboto Mono', Arial, sans-serif;
        @media screen and (max-width:500px){
          display: none;
      
      }

    }
  }
}