.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  background-color: #19181b;
  @media screen and (max-width:500px){
    font-size: 12px;
    gap: 0.5rem;


}


    .socials{
      .mainlog {
        height: 19px;
        margin: 0 0.6rem;
      }
      .muilog {
        height: 22px;
        margin: 0 0.6rem;
        margin-top: 2px;
      }
    }
  }
