.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  background-color: #19181b;

    gap: 1rem;

    .socials{
      .mainlog {
        height: 19px;
        margin: 0 0.6rem;
      }
      .muilog {
        height: 22px;
        margin: 0 0.6rem;
        margin-top: 2px;
      }
    }
  }
